.app {
  background-color: #181c26;
	color: #fff;
  min-height: 100vh;
  text-align: center;
}

.posts {
  margin-top: 15px !important;
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.posts h1 {
  font-size: 40px;
}

.post {
  text-align: left;
}

.post h3 {
  margin-top: 18px;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

